body {
    background-image: url("../imagenes/fondo_ftorneo.jpg");
}

<<<<<<< HEAD
#contenedorGrid_creartorneo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
=======
header{
    height: 100px;
}
main{
    height: 700px;
}
footer{
    height: 200px;
}

#contenedorGrid_creartorneo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 1fr 1fr 1vh;
>>>>>>> benjaminespinoza

    grid-template-areas: 
    "header header header header"
    ". ftorneo ftorneo ."
<<<<<<< HEAD
=======
    ". ftorneo ftorneo ."
>>>>>>> benjaminespinoza
    "footer footer footer footer";

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.item1Grid_creartorneo {
    grid-area: ftorneo;
}

#contenedorGrid_formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
    "fleft fright";

    background-color:rgb(21, 53, 77, 0.25);
    font-size: 16px;
    width: 100%;
    color: #eee;
}

<<<<<<< HEAD
=======
h1 {
    color: #eee;
    font-size: 32px;
    text-align: center;
    -webkit-text-stroke: 1px aqua; 
}

>>>>>>> benjaminespinoza
fieldset {
    border-color:rgb(77, 87, 69);
}

.item1Gridleft_formulario {
    grid-area: fleft;
}

.item2Girdright_formulario {
    grid-area: fright;
}

label > input {
    padding: 10px;
    background-color: #191e2e;
    border-width: 2px;
    border-color: #313c60;
<<<<<<< HEAD
=======
    color: aqua;
}

input::placeholder {
    color: aqua;
>>>>>>> benjaminespinoza
}

label > select {
    padding: 10px;
    background-color: #191e2e;
    border-width: 2px;
    border-color: #313c60;
<<<<<<< HEAD
}
=======
    color:aqua
}

.pie-pagina {
    grid-area: footer;
}

.botonCreartorneo {
    text-align: center;
    padding-top: 10px;
    
}

.botonCreartorneo input {
    padding: 10px;
    letter-spacing: 5px;
    border-color: aqua;
    background-color: rgb(21, 53, 77);
    color: aqua;
    cursor: pointer;
}

>>>>>>> benjaminespinoza
