
body{
    color : greenyellow;
    background-color: rgb(0, 0, 255);
}
header{
    height: 100px;
}
main{
    height: 800px;
    width: 80%;
    margin-inline: 10%;
}

#principio{
    background-color: brown;
    height: 50px;
    display: block;
}

#principio > div {
    display: inline-block;
    padding-inline: center;
}
#arriba1{
    width: 300px;
    height: 40px;
    margin: 3px;
}
#arriba2{
    width: 300px;
    height: 40px;
    float: right;
    margin: 3px;
}
#arriba1>form>input{
    display: inline-block;
    font-size: 18px;
    margin-top: 7px;
    margin-inline: 3px;
}
#arriba2>form>input{
    display: inline-block;
    font-size: 18px;
    margin-top: 7px;
    margin-inline: 20%;
    text-align: center;
}

#principal{
    display: block;
    background-color: blueviolet;
    width: 100%;
    height: 80%;
    margin-top: 20px;
}


.BloqueDeEquipo{
    display: inline-block;
    position: relative;
    width: 30%;
    background-color: green;
    height: 40% ;
    margin: 2% 1.5%;
    box-shadow: 3px 3px 30px 5px black;
    border-radius: 10px;
}
.BloqueDeEquipo>*{
    position:absolute;
}
.BloqueDeEquipo>p{
    top: 70%;
    height: 30% !important;
    width: 100% !important;
    overflow: auto;
    resize: none;
    background-color: green; 
    
}
.BloqueDeEquipo>img{
    height: 50% ;
    width: 46%;
    top: 0;
    margin: 2%
}
.BloqueDeEquipo>h2{
    right: 0;
    margin:3%;
    display: block;
    width: 45%;
    height: 30%;
}
.BloqueDeEquipo>ol{
    list-style: none;
    top: 53%;
    width: 100%;
}
#busqueda{
    border: none;
    outline-offset: 1px;
}
