
#header {
    position: relative;
    margin:auto;
    width: 100%;
    background-color: rgba(4, 22, 83, 0.175);
    height:30%;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}
.nav{
    margin: 0%;
    position: relative;
    float: right;
    padding-right:10% ;
    top: 10%;
}

.nav li a {
    background-color:rgba(0, 0, 0, 0.499);
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav li a:hover {
    background-color:#434343;
}

.nav li ul {
    display:none;
    position:absolute;

}
.nav li > ul{
    display: block;
    opacity: 0%;
    visibility: hidden;
    transition: 1s;
}


.nav li:hover > ul {
    visibility: visible;
    opacity: 100%;
    transition: 1s;

}

.nav li ul li {
    position:relative;
}
/* logo */
#logo{
    display: block;
    height: 70%;
    position: relative;
    background-color: rgba(13, 13, 134, 0.583);
}
#logo img{
    height: 100%;
}
#logo h1{
    display: block;
    float: right;
    margin: 0%;
    margin-right: 10%;
    padding-top: 2%;
    font-size:50px;
}
/* Swith */
