/*fondo de pantalla y cambio de color de letras con estilo de grid a la pagina */
body{
    background-color: #0a141d;
    color: rgb(255, 184, 0);
    text-align: center;
}
header{
    height: 150px;
    width: 100%;
}
footer{
    height: 100px;

}
main{
    height: 700px;
    text-align: center;
}
/* Cambiamos los estilos de el h1,input,spany textarea */
h1{
    font-size: 40px;
}
input{
    margin:10px;
    height: 20px;
    width: 200px;
}
span{
    margin-right: 40px;
    font-size: 20px;
    text-align: center;
    height: 40px;
    vertical-align: center;
}

textarea{
    display: inline-block;
    height: 30px !important;
    border: none;
    overflow: auto;
    padding: 8px 9px;
    resize: none;
    width: 300px ;
}
select{
    margin:10px;
    height: 20px;
    width: 200px;
}
/* Dimenciones del botn que nvia los datos */
#inputenvi{
    height: 50px;
    width: 200px;
}
/* Margen de el div de los textarea */
.comentarios{
    margin: 10px;
}
