<<<<<<< HEAD
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background: url(F.png);
    background-size: cover;
    color: white;


}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 50px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

#tab1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

}

#tab2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#tab3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

#tab4 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}

#tab5 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
}

.hola:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.hola ul {
    display: none;
}

.hola:hover>ul {
    display: block;
    width: 75%;
    height: 80%;
}

#titulohome {
    height: 90%;
    width: 530%;
}

#texthome {
    height: 70%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 6;

}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
=======
/* * {
    margin:0px;
    padding:0px;
} */

#header {
    margin: auto;
    width: 650px;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding-top: 30px;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;

}

.nav li a {
    background-color: rgba(0, 0, 0, 0.499);
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;

}

.nav li ul li {
    position: relative;
>>>>>>> benjaminespinoza
}