/*Gid y fondo de pantalla*/
body{
    display: grid ;
    grid-template-rows: [y1]20%[y2]720px[y3]10%;
    background-image: url('/imagenes/clash.jpg');
    background-size: cover;
    color:antiquewhite
}
header{
    grid-row-start: y1;
}
main{
    grid-row-start:y2;
}
footer{
    grid-row-start: y3;
}
/*Cambio de color de fondo elegir estilos de letra y alinear los texto al centro*/
main div{
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Darle tamaño a los div 1 y 2 elegir su tamaño de letra y alinearlos con linea tambien definirles margenes*/
#diveq1 , #diveq2{
    height: 40%;
    width: 40%;
    font-size: 15px;
    display:inline-table;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*Definir el estilo de la lista y darle pocicion de inicio a la lista tambien aumento de tamaño de letra*/
#oleq{
    list-style:disc ;
    text-align: left;
    font-size: 20px;
}
/*Definicon de tamaño del div 3 y margenes*/
#diveq3{
    height: 40%;
    width: 80%;
    margin-inline: 10%;
}
/*Ajuste de margen div 1*/
#diveq1{
    margin-left: 7%;
    margin-right: 2%;
}
/*Ajuste de margen div 2*/
#diveq2{
    margin-right: 7%;
    margin-left: 2%;
}
/*Colocamos en negritas los nombres de la lista*/
#oleq li{
    font-weight: bold;
}
/*Ajuste del titulo del bloque 3*/
#diveq3 h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 3%;
}
/*Ajuste del parrafo del bloque 3*/
#diveq3 p{
    margin: 3%;
}
/*Ajuste de parrafo de bloque 3*/
#diveq2 p{
    margin: 3%
}