<<<<<<< HEAD
<<<<<<< HEAD
/*Grid del header , main y footer*/
#contenedor-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1rem 1fr 1rem;
    justify-content: center;

    grid-template-areas: 
    "header header header"
    "formulario formulario formulario"
    "footer footer footer";
=======
/* Dimeciones */
header {
    height: 150px;
>>>>>>> 33347dbf68b74f20bed18dedf1a22d646d0c7608
}
main {
    height:800px;
}
<<<<<<< HEAD

.item2-main {
    grid-area: formulario;
    justify-self: center;
}

.item3-footer {
    grid-area: footer
=======
/* Dimeciones */
header {
    height: 100px;
}
main {
    height:800px;
}
footer {
    height: 200px;
>>>>>>> benjaminespinoza
=======
footer {
    height: 200px;
>>>>>>> 33347dbf68b74f20bed18dedf1a22d646d0c7608
}
/*fondo de pantalla y cambio de color de letras*/
body{
    background-color: #0a141d;
    color: rgb(255, 184, 0)
}
/*Cambio de color de fondo elegir estilos de letra y alinear los texto al centro*/
main div{
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Darle tamaño a los div 1 y 2 elegir su tamaño de letra y alinearlos con linea tambien definirles margenes*/
#diveq1 , #diveq2{
    height: 40%;
    width: 40%;
    font-size: 15px;
    display:inline-table;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*Definir el estilo de la lista y darle pocicion de inicio a la lista tambien aumento de tamaño de letra*/
#oleq{
<<<<<<< HEAD
<<<<<<< HEAD
    list-style:disc ;
    text-align: left;
=======
    list-style:none ;
    text-align: center;
>>>>>>> benjaminespinoza
=======
    list-style:none ;
    text-align: center;
>>>>>>> 33347dbf68b74f20bed18dedf1a22d646d0c7608
    font-size: 20px;
}
/*Definicon de tamaño del div 3 y margenes*/
#diveq3{
    height: 40%;
    width: 80%;
    margin-inline: 10%;
}
/*Ajuste de margen div 1*/
#diveq1{
    margin-left: 7%;
    margin-right: 2%;
}
/*Ajuste de margen div 2*/
#diveq2{
    margin-right: 7%;
    margin-left: 2%;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> benjaminespinoza
=======

>>>>>>> 33347dbf68b74f20bed18dedf1a22d646d0c7608
/*Colocamos en negritas los nombres de la lista*/
#oleq li{
    font-weight: bold;
    margin: 2%;
}
/*Ajuste del titulo del bloque 3*/
#diveq3 h1{
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 3%;
}
/*Ajuste del parrafo del bloque 3*/
#diveq3 p{
    padding: 3%;
}
/*Ajuste de parrafo de bloque 3*/
#diveq2 p{
    padding: 3%;
}

<<<<<<< HEAD
<<<<<<< HEAD

=======
#oleq li:hover{
    color: red;
}

#diveq1>h1, #diveq2>h1{
    margin: 5%;
}
>>>>>>> benjaminespinoza
=======
#oleq li:hover{
    color: red;
}

#diveq1>h1, #diveq2>h1{
    margin: 5%;
}
>>>>>>> 33347dbf68b74f20bed18dedf1a22d646d0c7608
