* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: ;
    background-image: ; */
    min-width: 100vw;
    min-height: 100vh;
    color: rgb(255, 184, 0);
    display: flex;
    flex-grow: 1;
    
}

form {
    margin-top: 10vh;
    max-height: 70vh;
    min-width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(7, 1fr);
}

.nombre,.apellido,.email,
.numerot,.ciudad,.coment,.botón {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.nombre {
    grid-row: 1/2;
    text-align: center;
}

.apellido {
    grid-row: 2/3;
}

.email {
    grid-row: 3/4;
}

.numerot {
    grid-row: 4/5;
}

.ciudad {
    grid-row: 5/6;
}

.coment {
    grid-row: 6/8;
}

input {
    max-height: 1rem;
    max-width: 50%;
}

#coment {
    min-height: 80%;
    min-width: 80%;
}

#botón {
    min-width: 8em;
    min-height: 1.5em;
}