body{
    background-color: #031728;
    color: rgb(255, 184, 0)
}



/* Dimenciones de la pagina */
header{
    height: 150px;
}
main{
    height: auto;
}
footer{
    height: 200px;
}

/* div de bienvenida */
#bienvenida {
    display: inline-block;
    text-align: center;
    height: 20%;
    margin-left: 25%;
}
#bienvenida h1{
    font-size:60px;
    margin-bottom: 0%;
    padding: 10px;
    -webkit-text-stroke: 2px white;
}

/* Div de los juegos y deportes */
#juegodeportes{
    margin: 10%;
    width: 80%;
    text-align: center;
}

.imagenesdejuegos{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 30% ;   
    margin: 2%;
}

.imagenesdejuegos>img{
    margin: 2%;
    object-fit: cover;
}

/* UINFO ADICIONA */

#contenedor_informacionAdicional {
    display: grid;
    grid-template-columns: 190px 60vw;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;

    grid-template-areas: 
    "icono1 info1"
    "icono2 info2"
    "icono3 info3";
}

.item1_image {
    grid-area: icono1;
}

.item2_image {
    grid-area: icono2;
}

.item3_image {
    grid-area: icono3;
}

.item1_info {
    grid-area: info1;
    
}

.item2_info {
    grid-area: info2;
}

.item3_info {
    grid-area: info3;
}

.botonBienvenida {
    padding: 10px;
    border-radius: 20px;
    width: 350px;
    background-color: aqua;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 2rem;
}

#hola {
    display: block;
    text-align: center;
}

#hola div a{
    display: inline-block;
    align-items: center;
    width: 51%;    
}