:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

main>article {
    min-height: inherit;
    display: grid;
    grid-template-areas: 
    "estadistica-1 estadistica-2"
    "estadistica-3 estadistica-3";
}

.sect-1,.sect-2,.sect-3 {
    min-height: 70vh;
}

article>.sect-1 {
    grid-area: estadistica-1;
}

article>.sect-2 {
    grid-area: estadistica-2;
}

article>.sect-3 {
    grid-area: estadistica-3;
}

/* form {

} */

.cuadro {
    width: 30vh;
    height: auto;
    border: 1px solid black;
    align-content: center;
    text-align: center;
    align-items: center;
}

ol {
    height: 70vh;
    overflow: scroll;
}

footer {
    grid-area: footer;
}