#contenedor-body-registro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    background-image: url("../imagenes/fondo-registro.jpg");
    background-size: 100%;

    grid-template-areas:
        "header header header"
        ". formulario formulario"
        "footer footer footer";
}

.item1-header {
    grid-area: header;
}

.item2-main-formulario {
    grid-area: formulario;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

fieldset {
    border: 4px solid dodgerblue;

}

legend {
    text-justify: center;
    border: 2px solid dodgerblue;
    padding: 20px;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 5px;
}

.inputdata {
    background-color: none;
    border: none;
}

.item3-footer {
    grid-area: footer;
}

/*-----------------------------------------*/



