* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url("../imagenes/fondo-registro.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    color: rgb(255, 184, 0);
}
header {
    grid-area: header;
    height: 150px;
}
#bodygrid_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header"
    "ladoizquierdo ladoizquierdo ladoderecho ladoderecho"
    "ladoizquierdo ladoizquierdo ladoderecho ladoderecho"
    "footer footer footer footer";
    align-items: center;
}
/*estilizando y estructurando a los formularios del main hijo*/
#mainitem_formularios {
    grid-area: ladoizquierdo;
    color: aliceblue;
    justify-self: center;
    width: 500px;
}
/*formulario registro*/
#article_formularioregistro {
    background-color: rgba(52, 52, 52, 0.602);
    padding: 0px;
    border-radius: 15px;
    display: block;
}
fieldset {
    border: 3px solid dodgerblue;
}
legend {
    text-justify: center;
    border: 2px solid rgb(27, 123, 219);
    padding: 10px;
    background-color: dodgerblue;
    text-align: center;
    border-radius: 10px;
}
.classform_formularioPrincipal > fieldset > input {
    margin-bottom: 15px;
    border-radius: 5px;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 16px;
    width: 99%;
    letter-spacing: 2px;
}
.cajaboton_crearregistro {
    text-align: center;
}
.cajaboton_crearregistro > button {
    border-radius: 20px;
    width: 50%;
    padding-inline: 10px;
    padding-block: 10px;
    cursor: pointer;
}
.cajaboton_inciarSesion {
    text-align: center;
}
.cajaboton_inciarSesion > input {
    border-radius: 20px;
    width: 50%;
    padding-inline: 10px;
    padding-block: 10px;
    cursor: pointer;    
}
/*formulario iniciar sesion*/
#article_formularioiniciarSesion {
    background-color: rgba(52, 52, 52, 0.602);
    padding: 15px;
    border-radius: 15px;
    display: none;
}

/*ASIDE mensajes alternativos*/
#asidegrid_mensajeAlternativo {
    grid-area: ladoderecho;
    justify-self: center;
    align-self: center;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    color: aliceblue;
}
#articleid_msgAltModregistro {
    display: block;
}
.articleclass_mensajeAlternativo {
    background-color: rgba(52, 52, 52, 0.602);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
#articleid_msgAltModsesion {
    display: none;
}
.cajaboton_mensajeAlternativo_iniciarSesion > button {
    padding: 5px;
    font-weight: bold;
    background-color: dodgerblue;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    transition: all .3 ease-in;
    color: aliceblue;;
}
.cajaboton_mensajeAlternativo_registrarse > button {
    padding: 5px;
    font-weight: bold;
    background-color: dodgerblue;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0px;
    color: aliceblue;
}
.pie-pagina {
    grid-area: footer;
}
#boton {
    display: block;
}

/*Estilos aplicables a los eventos asociados del formulario*/

.inputerror {
    background-color: rgb(214, 113, 113);
}
.inputcorrecto {
    background-color: green;
}

/*Estilo ver contrasena*/
#opciones_password {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#opciones_password button {
    padding: 5px;
    background-color: rgb(75, 150, 219);
}