* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    background: url(F.png);
    background-size: cover;
    color: white;
    background-color: rgb(3, 23, 40);


}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 50px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}

#tab1 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;

}

#tab2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#tab3 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

#tab4 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 4;
    grid-column-end: 4;
}

#tab5 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
}

.hola:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.hola ul {
    display: none;
}

.hola:hover>ul {
    display: block;
    width: 75%;
    height: 80%;
}

#titulohome {
    height: 90%;
    width: 530%;
}

#texthome {
    height: 70%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 6;

}

/*Para el formulario */
.formulario_registarse {
    width: 65%;
    background: #61010154;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.formulario_registarse h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;

}

.formulario_registarse p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}

.formulario_registarse a {
    color: white;
    text-decoration: none;

}

.formulario_registarse a:hover {
    color: white;
    text-decoration: underline;
}

.formulario_registarse .button {
    width: 100%;
    background: #0f3586;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}

#formularios {
    height: 70%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;

}
header{
    height: 150px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
}