:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 110vh;
	background-color: rgb(3, 23, 40);
	color: rgb(255, 184, 0);
}
header {
	height: 150px;
	min-height: 10vh;
}
main {
	min-height: auto;
}
article {
	min-height: inherit;
}
.titu {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-align: center;
}
.cont-divs {
	display: grid;
	background-color: rgba(12, 27, 77, 0.592);
	border-radius: 3rem;
	box-shadow: 0 0 8px rgba(176, 224, 230, 0.617);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(16, 3rem);
	grid-template-areas: 
	"cj1    .     .     .		"
	"cj2  cj17    .     .		"
	"cj3  cj18    .     .		"
	"cj4    .   cj25		. 	"
	"cj5 	  .   cj26		. 	"
	"cj6  cj19		.			. 	"
	"cj7  cj20		.			. 	"
	"cj8    .     .    cj29	"
	"cj9 		. 		. 	 cj30	"
	"cj10 cj21		.			. 	"
	"cj11 cj22		.			. 	"
	"cj12   .  cj27			. 	"
	"cj13   .  cj28			.		"
	"cj14 cj23		.			. 	"
	"cj15 cj24		.			. 	"
	"cj16   .     .     .  	"
	;
}
.cont-nom {
	width: 80%;
	margin: 0 auto;
	min-height: 3rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.num-equ {
	width: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nom-equ {
	font-size: larger;
	margin: 0;
	text-align: center;
	background-color: rgba(17, 55, 58, 0.364);
	border-radius: 3rem;
	box-sizing: 0 0 15px rgb(17, 55, 584);
}
.cj1 {
	grid-area: cj1;
	display: inline-flex;
}             
.cj2 {         
	grid-area: cj2;
	display: inline-flex;
}
.cj3 {
	grid-area: cj3;
	display: inline-flex;
}
.cj4 {
	grid-area: cj4;
	display: inline-flex;
}
.cj5 {
	grid-area: cj5;
	display: inline-flex;
}
.cj6 {
	grid-area: cj6;
	display: inline-flex;
}
.cj7 {
	grid-area: cj7;
	display: inline-flex;
}
.cj8 {
	grid-area: cj8;
	display: inline-flex;
}
.cj9 {
	grid-area: cj9;
	display: inline-flex;
}
.cj10 {
	grid-area: cj10;
	display: inline-flex;
}
.cj11 {
	grid-area: cj11;
	display: inline-flex;
}
.cj12 {
	grid-area: cj12;
	display: inline-flex;
}
.cj13 {
	grid-area: cj13;
	display: inline-flex;
}
.cj14 {
	grid-area: cj14;
	display: inline-flex;
}
.cj15 {
	grid-area: cj15;
	display: inline-flex;
}
.cj16 {
	grid-area: cj16;
	display: inline-flex;
}
.cj17 {
	grid-area: cj17;
	display: inline-flex;
}
.cj18 {
	grid-area: cj18;
	display: inline-flex;
}
.cj19 {
	grid-area: cj19;
	display: inline-flex;
}
.cj20 {
	grid-area: cj20;
	display: inline-flex;
}
.cj21 {
	grid-area: cj21;
	display: inline-flex;
}
.cj22 {
	grid-area: cj22;
	display: inline-flex;
}
.cj23 {
	grid-area: cj23;
	display: inline-flex;
}
.cj24 {
	grid-area: cj24;
	display: inline-flex;
}
.cj25 {
	grid-area: cj25;
	display: inline-flex;
}
.cj26 {
	grid-area: cj26;
	display: inline-flex;
}
.cj27 {
	grid-area: cj27;
	display: inline-flex;
}
.cj28 {
	grid-area: cj28;
	display: inline-flex;
}
.cj29 {
	grid-area: cj29;
	display: inline-flex;
}
.cj30 {
	grid-area: cj30;
	display: inline-flex;
}
footer {
	max-height: 20vh;
}